:root {
    --main-font: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --main-color-1: #64ffda;
    --main-color-2: #3F7369;
    --main-color-3: #627370;
    --main-color-4: #D0F5EE;
    --main-color-5: #69BFAF;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--main-font);
}

header {
    height: 100vh;
}

header nav {
    height: 80px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--main-color-3);
}

header nav #logo a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

header nav #logo span {
    margin: 20px;
}

header nav #links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

header nav #links ul {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    padding: 0;
    color: var(--main-color-1);
}

header nav #links ul li {
    margin: 0 16px;
}

header nav #links ul li a {
    color: white;
}

.right {
    left: auto;
    right: 20px;
    width: 40px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    color: var(--main-color-1);
}

.email {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.email a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: #a8b2d1;
    position: relative;
    transition: var(--transition);
}

.email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

.left {
    left: 20px;
    right: auto;
    width: 40px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    color: var(--main-color-1);
}

.socials {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #a8b2d1;
}

.socials li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.socials li:last-of-type {
    margin-bottom: 20px;
}

.socials li a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    padding: 8px;
}

.socials li a svg {
    width: 20px;
    height: 20px;
}

.socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}
