:root {
    --main-font: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --main-color-1: #64ffda;
    --main-color-2: #ee7752;
    --main-color-3: #e73c7e;
    --main-color-4: #0a192f;
    --main-color-5: #23a6d5;
    --main-color-6: #23d5ab;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--main-font);
}

*::selection {
    background-color: #0a192f;
    color: white;
}

/* Header */

header {
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header nav {
    height: 80px;
    z-index: 5;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #0a192f;
}

header nav #logo a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

header nav #logo span {
    margin: 20px;
}

header nav #links ul {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    padding: 0;
    color: var(--main-color-1);
}

header nav #links ul li {
    margin: 0 16px;
}

header nav #links ul li a {
    color: white;
}

header button {
    background-color: transparent;
    border: solid 2px var(--main-color-1);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

header button a {
    height: 100%;
    width: 100%;
}

header button:hover {
    background-color: var(--main-color-1);
}

header button:hover a {
    color: #0a192f;
    font-weight: bold;
}

header button a {
    font-size: 20px;
    font-family: var(--main-font);
    color: var(--main-color-1);
}

.toggle {
    display: none;
}

/* Sides links */

.right {
    left: auto;
    right: 20px;
    width: 40px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    color: #a8b2d1;
}

.right:hover .email a {
    color: var(--main-color-4);
    font-size: 12px;
    line-height: 18px;
}

.right:hover> ::after {
    background-color: var(--main-color-4);
}

.email {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.email a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.email::after {
    content: "";
    display: block;
    width: 2px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

.left {
    left: 20px;
    right: auto;
    width: 40px;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    color: var(--main-color-1);
}

.socials {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #a8b2d1;
}

.socials li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-top: 3px;
}

.socials li:last-of-type {
    margin-bottom: 20px;
}

.socials li:hover {
    color: var(--main-color-4);
    transform: translateY(-3px);
}

.socials li a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 8px;
}

.socials li a svg {
    width: 20px;
    height: 20px;
}

.socials::after {
    content: "";
    display: block;
    width: 2px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;
}

.left:hover> ::after {
    background-color: var(--main-color-4);
}

section {
    height: 100vh;
}

.hello {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;

    margin: 0px auto;
    padding: 0 100px;
    max-width: 1000px;
}

.hello h1,
h2,
h3 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: #3c3163;
    line-height: 1.1;
}

.hello .intro {
    margin: 0px 0px 30px 4px;
    color: var(--main-color-1);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.hello .my-name {
    margin: 0px;
    font-size: 80px;
}

.hello .job {
    margin: 0px;
    font-size: 80px;
}

.hello p {
    margin-top: 20px;
    font-size: 20px;
    max-width: 540px;
    color: var(--main-color-4);
}

/*--------------------------------------------*/

section .container {
    padding: 100px 0;
    margin: 0 80px;
}

section p {
    margin-top: 20px;
    font-size: 20px;
    max-width: 540px;
    color: var(--main-color-4);
}

section a {
    color: var(--main-color-1);
}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 32px;
    white-space: nowrap;
    counter-reset: section 0;
}

.numbered-heading::before {
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--main-color-1);
    font-family: var(--main-font);
    font-weight: 400;
}

/* Section */

#about {
    background-color: var(--main-color-3);
}

#work {
    background-color: var(--main-color-5);
    height: auto;
    min-height: 100vh;
}

#contact {
    background-color: var(--main-color-2);
}

/* About section */

#about .skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none
}

#about .skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--main-font);
    font-size: 13px;
}

#about .skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--main-color-1);
    font-size: 16px;
    line-height: 12px;
}

/* Contact me section */

#contact .container {
    max-width: 600px;
    margin: 0px auto 100px;
    text-align: center;
}

#contact .container .overline {
    display: block;
    margin-bottom: 20px;
    color: var(--main-color-1);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

#contact .container .email-link {
    background-color: transparent;
    border: solid 2px var(--main-color-1);
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-color-1);
    padding: 1.25rem 1.75rem;
    ;
    font-size: 16px;
    font-weight: bolder;
    font-family: var(--main-font);
    line-height: 1;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: 50px;
}

#contact .container .email-link a {
    padding: 1.25rem 1.75rem;
}

#contact .container .email-link:hover {
    background-color: var(--main-color-1);
}

#contact .container .email-link:hover>a {
    color: var(--main-color-2);
}

#contact p {
    max-width: 100%;
    width: auto;
}

#contact .numbered-heading::before {
    content: "03.";
}

/* Work section */

#work .numbered-heading::before {
    content: "02.";
}

#work .container {
    padding: 25px;
}

/*
#work .projects .card .title {}

#work .projects .card .description {}
*/

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 0 2rem 6rem 2rem;
}

.card {
    font-family: var(--main-font);
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
    height: 18em;
    width: 12em;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em black;
    transition: all, 0.5s;
    position: relative;
    overflow: hidden;
    border: 10px solid #ccc;
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
}

.card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card p {
    font-size: 0.75em;
    font-family: 'Open Sans';
    margin-top: 0.5em;
    line-height: 2em;
}

.card .tags {
    display: flex;
}

.card .tags .tag {
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, 0.5s;
}

.card:hover .tags .tag {
    background: #3c3163;
    color: white;
}

.card .date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.card:before,
.card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, 0.5s;
    transition-timing-function: ease-in-out;
}

.card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
}

.card:after {
    background: white;
    width: 200%;
    height: 200%;
}

.card:hover {
    color: #3c3163;
}

.card:hover:before,
.card:hover:after {
    transform: scale(1);
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

#work #show-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

#work #show-link a {
    padding: 1.25rem 1.75rem;
    color: #3c3163;
    font-weight: bolder;
    border: 2px solid #3c3163;
    border-radius: 5px;
    background-color: transparent;
}

#work #show-link a:hover {
    background-color: #3c3163;
    color: var(--main-color-5);
}

/* MEDIA QUERIES */

@media all and (min-width: 901px) {
    header nav #links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }
}

@media all and (max-width: 1285px) {
    section {
        height: auto;
    }

    .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    #contact .container {
        margin-bottom: 0;
    }
}

@media all and (max-width: 900px) {

    header {
        height: auto;
    }

    footer {
        height: auto;
        background-color: var(--main-color-4);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .right {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        width: auto;
        height: auto;
        z-index: 1;
        transform: rotate(-90deg);
    }

    .right:hover .email a {
        color: white;
        font-size: 12px;
        line-height: 18px;
    }

    .email {
        display: block;
        -webkit-box-align: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
        list-style: none;
        color: #a8b2d1;
    }

    .email::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        background-color: transparent;
    }

    .left {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        width: auto;
        height: auto;
        z-index: 1;
    }

    .socials {
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
        list-style: none;
        color: #a8b2d1;
    }

    .socials::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        background-color: transparent;
    }

    .socials li {
        display: list-item;
        text-align: -webkit-match-parent;
        margin-top: 5px;
    }

    .socials li:last-of-type {
        margin-bottom: 0px;
    }

    .socials li:hover {
        color: white;
        transform: translateY(-3px);
    }

    .socials li a {
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        padding: 20px;
    }

    .socials li a svg {
        width: 30px;
        height: 30px;
    }

    .cards-wrapper {
        grid-template-columns: 1fr;
    }

    .card-grid-space {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-grid-space .num {
        margin-left: 0;
        text-align: center;
    }

    /*    */

    .toggle {
        display: flex;
        flex-direction: column;
        width: 35px;
        height: 30px;
        cursor: pointer;
    }

    .toggle span {
        width: 35px;
        height: 4px;
        background-color: var(--main-color-1);
        transition: all 0.5s;
        backface-visibility: hidden;
    }

    .toggle span:not(:last-of-type) {
        margin-bottom: 6px;
    }

    .toggle.open {
        transform: translateY(5px);
        position: fixed;
        z-index: 101;
        top: 25px;
        right: 20px;
    }

    .toggle.open .one {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .toggle.open .two {
        opacity: 0;
    }

    .toggle.open .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    #links {
        display: none;
        transition: all ease-in-out 0.3s;
    }

    #links.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 100;
        height: 100vh;
        width: 100vw;
        background-color: var(--main-color-4);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: all 0.5s;
    }

    #links.show ul {
        flex-direction: column;
    }

    #links.show ul li {
        font-size: 32px;
        margin: 16px;
        font-weight: bolder;
    }

    #links.show button {
        margin: 16px;
        padding: 16px 30px;
    }

    #links.show button a {
        font-size: 32px;
        font-weight: bolder;
    }

    .no-scroll {
        overflow: hidden;
    }
}


@media all and (max-width: 600px) {
    .cards-wrapper {
        padding: 4rem 2rem;
    }

    .card {
        max-width: calc(100vw - 4rem);
    }

    .hello {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px auto;
        padding: 0 60px;
        max-width: 1000px;
    }

    section .container {
        padding: 60px 0;
        margin: 0 60px;
    }

    section p {
        margin: 20px 0;
        font-size: 18px;
        max-width: 540px;
        color: var(--main-color-4);
    }

    #contact p {
        margin: 20px 60px;
        max-width: 100%;
        width: auto;
    }

    #work .container {
        padding: 25px 0;
    }
    
    .hello h1,
    h2,
    h3 {
        margin: 0px 0px 10px;
        font-weight: 600;
        color: #3c3163;
        line-height: 2;
    }
    
    .hello .intro {
        margin: 0px 0px 30px 4px;
        color: var(--main-color-1);
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 400;
    }
    
    .hello .my-name {
        margin: 0px;
        font-size: 40px;
    }
    
    .hello .job {
        margin: 0px;
        font-size: 40px;
    }
    
    .hello p {
        margin-top: 20px;
        font-size: 20px;
        max-width: 540px;
        color: var(--main-color-4);
    }
    
    .numbered-heading {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        margin: 10px 0px 40px;
        width: 100%;
        height: auto;
        font-size: 24px;
        white-space: nowrap;
        counter-reset: section 0;
    }
    
    .numbered-heading::before {
        position: relative;
        counter-increment: section 1;
        content: "0" counter(section) ".";
        margin-right: 10px;
        color: var(--main-color-1);
        font-family: var(--main-font);
        font-weight: 400;
    }
}

@media all and (max-width: 450px) {
    .numbered-heading {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        margin: 10px 0px 40px;
        width: 100%;
        height: auto;
        font-size: 18px;
        white-space: nowrap;
        counter-reset: section 0;
    }
    
    .numbered-heading::before {
        position: relative;
        counter-increment: section 1;
        content: "0" counter(section) ".";
        margin-right: 5px;
        color: var(--main-color-1);
        font-family: var(--main-font);
        font-weight: 400;
    }

    section p {
        margin: 20px 0;
        font-size: 14px;
        max-width: 540px;
        color: var(--main-color-4);
    }

    .card {
        width: 8em;
        height: 14em;
    }

    .socials li {
        margin-top: 0;
    }

    .socials li a {
        padding: 8px;
    }

    .socials {
        margin: 5px;
        padding: 5px;
    }

    .socials li a svg {
        width: 20px;
        height: 20px;
    }
}